<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Coverwork</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      Coverwork has been developed by Budgester Technologies, with over 12 years experience of running MIS systems and Schools networks we saw a need for a simple system to allow teachers and cover supervisors to have an integrated method of assinging work to classes where students or teachers were not in school for any reason.
    </p>
    <p>
    CEO & CTO - Martin Stevens
    </p>
  </body>
</html>
